# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[_*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf

[VERSION]
insert_final_newline = false

[ChangeLog]
indent_size = 8

# Use 4 spaces for indentation in Markdown files
[*.md]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

[*.svg]
indent_style = tab

[*.json]
indent_style = space
indent_size = 2

[.vscode/settings.json]
indent_style = space
indent_size = 4

[**/package.json]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 4

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.d.ts]
indent_style = space
indent_size = 2

[**/tsup.config.ts]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2

[*.{html,xml}]
indent_style = space
indent_size = 2
